<h1>Select Your Pizza</h1>

<form ng-submit="controller.addOrder()">
<label>
	Your customer id is {{ controller.getCustomerId() }}
	<input style="visibility: hidden;" type="number" name="CustomerId" ng-model="controller.order.customerid" />
	<br />
	Select Your Pizza:

    <select ng-model="controller.order.pizzaId">
        <option ng-repeat="pizza in controller.pizzas" value="{{pizza.pizzaId}}">{{pizza.name}}</option>
    </select>
	<!--<select id="pizzaId" ng-model="controller.order.pizzaId" ng-options="pizza.name for pizza in controller.pizzas track by pizza.pizzaId"></select>-->
	
    <br />
	<label for="quantity">Quantity: </label>
	<input type="number" ng-model="controller.order.quantity" />
	<br />
	<input type="submit" value="Submit" />
</label>
</form>

<ul>
	<li ng-repeat="pizza in controller.pizzas">
		<img ng-src="{{pizza.imageUrl}}" /><br /><br />
		{{pizza.name}}<br />
		{{pizza.price}}<br />
	</li>
</ul>

<form novalidate ng-submit="controller.addCustomer()">
    <label for="name">Name</label>
    <input id="name" ng-model="controller.customer.name" type="text" required />
    <br />
    <label for="phone">Phone</label>
    <input id="phone" ng-model="controller.customer.phone" type="text" required />
    <br />
    <label for="email">Email</label>
    <input id="email" ng-model="controller.customer.email" type="text" required />
    <br />
    <input type="submit" value="SUBMIT" />
</form>
